#header {
  background: #eee;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #333;
  .dropdown-toggle::after {
    margin-left: 0;
    margin-right: 0.255em;
  }
}
